<div class="container bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div id="products" class="row gy-2 py-4 my-2 overflow-auto" style="height: 250px;">
        <div class="col-md-12 text-center"><h2>Invoice header</h2></div>
        <div id="product_0" class="row row-cols-sm-6 g-2 py-2 ">
            <div>
                <label for="id_product" class="form-label">Product Id</label>
                <input type="text" class="form-control" name="id_product" id="id_product" placeholder="Type the product id">
            </div>
            <div>
                <label for="name_product" class="form-label">Product Name</label>
                <input type="text" class="form-control" name="name_product" id="name_product" placeholder="Type the product name">
            </div>
            <div>
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" name="amount" id="amount" value="1" readonly placeholder="Type the amount">
            </div>
            <div>
                <label for="value_product" class="form-label">Unit value</label>
                <input type="number" class="form-control" name="value_product" id="value_product" placeholder="Type the value">
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn w-100 h-100 btn-outline-success" data-row="product_0">+</button>
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn w-100 h-100 btn-outline-danger" data-row="product_0">-</button>
            </div>
        </div>
    </div>
</div>
<div class="container g-0">
    <div class="row row-cols-sm-3 mt-3">
        <div>
            <button type="button" class="btn w-100 btn-lg btn-outline-info">Send</button>
        </div>
        <div>
            <button type="button" class="btn w-100 btn-lg btn-outline-secondary">Details</button>
        </div>
        <div>
            <button type="button" class="btn w-100 btn-lg btn-outline-warning">Add</button>
        </div>
    </div>
</div>